<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<html>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
</script>

<script src="app/assests/javascripts/modernizr.custom.js"></script>

<link href="app/assests/stylesheets/style.css" rel="stylesheet" media="screen">

<link href="app/assests/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">

<body>

    <!-- intro --> 
  <div id="intro">    
      <div class="intro-text">
        <div class="container">
          <div class="row">           
          <div class="col-md-12">   
            <div class="brand">

              <div id="centern"><h1>NeverLost</h1>
      <div id="white">
              <p>We aim to provide a sense of safety for parents and children to ensure that they have a worry free experience.</p>
                </div>
              <div id="browse_app">
                   <br>
                   <%= link_to 'Sign in', user_session_path, class: "btn btn-primary btn-hover" %>


                </div>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>     
   </div>   
    <!-- intro --> 


  

         <!-- Contact -->
    <section id="contact" class="home-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2>Contact us</h2>     
         <p>Contact via form below and we will be get in touch with you within 24 hours. </p>
         <%= render 'new' %>
      </div>
      </div>
      </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            

 
  <h2>WE'RE ON SOCIAL NETWORKS </h2>
        <p> Everywhere: @Neverlost </p>
  
          </div>
        </div>

         <!-- Contact -->


     <!--   <div class="row mar-top30 ">
        <div class="col-md-offset-2 col-md-8">
          <h2>WE'RE ON SOCIAL NETWORKS </h2>
        <p> Everywhere: @Neverlost </p>
        </div>        -->
    

      </div>
    </section> 



</body>
 <script src="app/assets/javascripts/jquery.js"></script>
  <script src="app/assets/javascripts/bootstrap.min.js"></script>
  <script src="app/assets/javascripts/jquery.smooth-scroll.min.js"></script>
  <script src="app/assets/javascripts/jquery.dlmenu.js"></script>
  <script src="app/assets/javascripts/wow.min.js"></script>
  <script src="app/assets/javascripts/custom.js"></script>
</html>

