<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
</script>

<div id= "noorbody">
<body>

<div class="row">
<div class="col-xl-28">

<div class= "bg">


<!-- <div class = "background"> -->

              <div id="centern"><h1>NeverLost</h1>

      <div id="white">
              <p>We aim to provide a sense of safety for parents and children to ensure that they have a worry free experience.</p>
                </div>
              <div id="browse_app">
                <a class="btn btn-large btn-info" href=" /users/sign_in">Log In!</a>
                </div>
                </div>
            
              </div>  
              </div>
  </div>
</div>



<%= render 'new' %>








<section id="contact">
        <div class="container">
          <div class="row">
            
            <div class="sec-title text-center wow animated fadeInDown">
           <br>
                <br>
              
            </div>
            

            
            <div class="col-md-5 wow animated fadeInRight">
              <address class="contact-details">
                <div id="blue">Contact Us</div>   
                <br>  
                <br>        
                <p id="font"><i class="fa fa-pencil"></i>Luqta St.<span>PO Box 4680</span> <span>Doha </span><span>Qatar</span></p><br>
                <p id="font"><i class="fa fa-phone"></i>Phone: (974) 66552242 </p>
                <p id="font"><i class="fa fa-envelope"></i>never@lost.com</p>
              </address>
            </div>
      
          </div>
        </div>
      </section>
      <!-- end Contact section -->
</body>

</html>

