<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
</script>





<body>
<div class="row">
<div class="col-xl-28">
<div class= "bg">


<!-- <div class = "background"> -->




              <div id="center"><h1 >NeverLost</h1>
              <p>We aim to provide a sense of safety for parents and children to ensure that they have a worry free experience.</p>
                </div>
              <div id="browse_app">
                <a class="btn btn-large btn-info" href=" /users/sign_in">SignUp</a>
                </div>
                
              </div>  
              </div>

</div>
</body>

</html>












