x// Place all the styles related to the visitor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bg{
	
	height: 500px;
	width: auto;
	background-image: url("1.jpg");
	background-size: 100%;
	margin-right: 0px;
	margin-left: -20px;



}

#centern{

	text-align: center;
	padding:15%;
	font-family: "Comic Sans MS", sans-serif;
	font-size: 50px;
	color: #46b8da;
}


#paragraph
{
	font-family: "Comic Sans MS", sans-serif;
	font-size: 20px;
	

}

#blue
{
	font-family: "Comic Sans MS", sans-serif;
	font-size: 30px;
	color: #46b8da;

}

#white
{
	font-family: "Comic Sans MS", sans-serif;
	font-size: 20px;
	color: #fff;

}



#font
{
	font-family: "Comic Sans MS", sans-serif;
	font-size: 19px;
	color: #9B9B9B;

}

#tablefont
{
	font-family: "Comic Sans MS", sans-serif;
	font-size: 15px;
	color: #46b8da;
}

/*#noor
{
	background-color: #A9A29C;
} */