<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
</script>


<body>
<center>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  width="425.2px" height="425.2px" viewBox="0 0 425.2 425.2" enable-background="new 0 0 425.2 425.2" xml:space="preserve">
<g>
 <defs>
  <rect id="SVGID_1_" width="425.2" height="425.2"/>
 </defs>
 <clipPath id="SVGID_2_">
  <use xlink:href="#SVGID_1_"  overflow="visible"/>
 </clipPath>
 <g clip-path="url(#SVGID_2_)">
  <defs>
   <rect id="SVGID_3_" width="425.2" height="425.2"/>
  </defs>
  <clipPath id="SVGID_4_">
   <use xlink:href="#SVGID_3_"  overflow="visible"/>
  </clipPath>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M208,245.1v-16.3h12.2V277h4.1v28.3
   c0,0-1.1,0-2.8,0.1h-3v33.5h-77v-26.2l16.6,6.5l5.6-16.7c0,0-8,2.1-30.8-13.1l-17.1,30.6l-23.5-17.2l13.7-15.2l-11.3-10.4
   l13.3-14.4c-7.8-8-14.7-16.9-20.4-26.5l24-14.4c0,0-6.2-5.9-7.4-14.3l-25.4,11.3"/>
 
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" x1="252" y1="181.7" x2="251.6" y2="68.5"/>
  <polyline clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" points="281.1,181.5 329.9,181.5 
   329.9,202.7 323.6,202.7 323.6,218.3 345.7,222.5 345.7,269.4 315.8,269.4 315.8,249.8 276.2,256.7 276.2,269.4 343.8,281.7 
   343.8,286.7 348.4,286.7 348.4,305.5 342.6,305.5 342.6,401.9 283.6,401.9 283.6,387.3 267.7,387.3 267.7,401.9 252,401.9 
   252,384.3 247.4,384.3 247.4,360.4 252.3,360.4 252.3,258.6 252,181.7   "/> 
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" x1="272.6" y1="181.5" x2="281.1" y2="181.5"/>
  <polyline clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" points="218.7,68.5 251.6,68.5 
   251.6,55.9 343.5,55.9 343.5,88 272.6,88 272.6,113.3 289.3,113.3 289.3,105.9 329.2,105.9 329.2,164.6 289.2,164.6 289.2,155.2 
   266.2,155.4 266.2,167.6 272.6,167.6 272.6,181.5   "/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" x1="219.7" y1="259.4" x2="251.9" y2="259.4"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" x1="68.9" y1="181.7" x2="68.9" y2="181.7"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" x1="135.4" y1="181.7" x2="135.4" y2="181.7"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M139.3,40.9
   c20.7-11.8,44.6-18.5,70-18.5c3.1,0,6.3,0.1,9.4,0.3V99h-10.5v-11"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M78.1,110.8c9.5-23.4,25-43.6,44.6-58.8
   l16.6,21.8l14-9.1l-14-23.9"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M78.9,219.1
   c-7.2-16.9-11.1-35.6-11.1-55.1c0-8.1,0.7-16,2-23.7l47.6,8c0,0-0.6-12.5,5.4-19.3l-44.6-18.2"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M198.4,88.7c3.3-0.5,6.7-0.7,10.2-0.7"
   />
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M183,92.5c2.6-1.1,5.3-2,8.1-2.8"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M168.9,99.2c2.2-1.4,4.5-2.6,6.9-3.7"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M158.4,107.2c1.9-1.8,3.8-3.5,5.9-5.1"
   />
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M148,117.4c1.7-2.3,3.5-4.5,5.4-6.7"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M139.6,130c1.2-2.5,2.5-4.9,4-7.2"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M208,237.1c-3.3,0.6-6.6,0.7-9.8,0.5"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M135.1,143.2c0.7-2.7,1.5-5.3,2.5-7.8"
   />
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M132.9,157.1c0.2-2.7,0.5-5.5,1-8.2"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M133.5,171.6c-0.4-2.7-0.6-5.5-0.6-8.2"
   />
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M136.3,186.3c-0.8-2.6-1.4-5.3-1.9-8"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M141.9,200.1c-1.3-2.4-2.5-4.9-3.6-7.4"
   />


  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M150.2,212.2c-1.8-2.1-3.5-4.3-5-6.5"/>

  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M162.4,222.9c-2.3-1.5-4.5-3.1-6.6-4.8"
   />
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M175.9,230.7c-2.5-1.1-5-2.3-7.4-3.6"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-miterlimit="10" d="M191.2,235.9c-3.3-0.6-6.4-1.6-9.4-3"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M140.1,294
   l32.1-57.3c0,0,13.4,8.1,35.8,8.3V238"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M156.7,227
   c-0.3-0.3,0,0,0.1,0.1"/>
  <path clip-path="url(#SVGID_4_)" fill="#898989" d="M151.7,240.7c8,6.3,13.4,9,13.4,9s-3.7-1.7-6.4-4.1l7.4-12"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M151.7,240.7
   c8,6.3,13.4,9,13.4,9s-3.7-1.7-6.4-4.1l7.4-12"/>
  <path clip-path="url(#SVGID_4_)" fill="#A5A5A5" d="M160.4,229.8l-8.6,11.1c0,0,3,2.4,7,4.7c4.1,2.2,0,0,0,0l7.4-12l-6-3.9"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M160.4,229.8
   l-8.6,11.1c0,0,3,2.4,7,4.7c4.1,2.2,0,0,0,0l7.4-12l-6-3.9"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M166.1,233.6
   L166.1,233.6l6.1,3.2c-4.6-2.1-8.3-4.4-12-7.1L166.1,233.6l6.1,3.2"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="146" y1="216.1" x2="135" y2="224.8"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="143.1" y1="212.2" x2="130.3" y2="219.1"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="139.1" y1="206" x2="125.4" y2="211.9"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="136.3" y1="200.8" x2="121.9" y2="205.7"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="133.5" y1="194.3" x2="118.6" y2="198.6"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="131.3" y1="188.3" x2="116.4" y2="192.6"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="129.6" y1="182.3" x2="114.7" y2="186.3"/>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_5_" x="131.2" y="70.3" width="59.5" height="45.7"/>
    </defs>
    <clipPath id="SVGID_6_">
     <use xlink:href="#SVGID_5_"  overflow="visible"/>
    </clipPath>
    <path clip-path="url(#SVGID_6_)" fill="#92CC85" d="M131.5,107.9l10.9,7.8c0,0,14.6-23.9,48-32l-2.2-13.1c0,0-3.6,0.6-9.2,2.3
     C166.6,76.7,144.5,86.3,131.5,107.9"/>
    <path clip-path="url(#SVGID_6_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M131.5,107.9
     l10.9,7.8c0,0,14.6-23.9,48-32l-2.2-13.1c0,0-3.6,0.6-9.2,2.3C166.6,76.7,144.5,86.3,131.5,107.9z"/>
   </g>
  </g>
  <polyline clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" points="
   146.5,110.3 136.1,101.2 140.5,96.1 150.7,105.7 155.7,101.1 145.7,91.1 152,86.1 160.9,97 166,93.1 158.4,81.9 164.8,78.5 
   171.8,90.2 177.2,88 171.8,75.4 179.7,72.7 183,85.2   "/>

<!-- Lecture halls on the right -->


  <path class="pink" clip-path="url(#SVGID_4_)" fill="#D36290" d="M88.1,162.6c0,0-1.1-9.2,0.1-16.2c0,0-17.2-3.6-17.3-3.6
   c-0.1,0-2.5,10.1-0.4,20.5L88.1,162.6z"/>

   <path class="Myrect" clip-path="url(#SVGID_4_)" fill="#61AFB5" d="M101.5,206c0,0-5.1-13.4-6.5-24.6c0,0-22.9,3.1-23,3.1c-0.1,0,1,16.6,7.8,31.4
   L101.5,206z"/>
  <path class="Myrect" clip-path="url(#SVGID_4_)" fill="#61AFB5" d="M155.8,62.3c0,0,12.2-7,22.9-10c0,0-6.4-22.5-6.4-22.6
   c0-0.1-15.9,3.3-29.2,12.3L155.8,62.3z"/>
  <path class="Myrect" clip-path="url(#SVGID_4_)" fill="#61AFB5" d="M119,90.8c0,0,8.5-10.5,17.1-17c0,0-13.4-17.5-13.4-17.6
   c0-0.1-13.1,8.6-22,21.2L119,90.8z"/>
 


  <path class="pink" clip-path="url(#SVGID_4_)" fill="#D36290" d="M97.6,117.3c0,0,2.9-8.7,7-14.6c0,0-14-10.6-14-10.7c0-0.1-6.6,8-9.2,18.3
   L97.6,117.3z"/>
  <path clip-path="url(#SVGID_4_)" fill="#A5A5A5" d="M165.1,249.7l7.1-13l-6.1-3.2l-7.4,12C158.7,245.6,161.6,248,165.1,249.7"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M165.1,249.7l7.1-13
   l-6.1-3.2l-7.4,12C158.7,245.6,161.6,248,165.1,249.7z"/>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_7_" x="112.3" y="170.1" width="44.7" height="67.7"/>
    </defs>
    <clipPath id="SVGID_8_">
     <use xlink:href="#SVGID_7_"  overflow="visible"/>
    </clipPath>
    <!--  -->
    <path clip-path="url(#SVGID_8_)" fill="#92CC85" d="M147.9,237.5c-4.1-3.5-8.6-7.7-13-12.7c-1.4-1.6-2.8-3.3-4.2-5.1
     c-9.5-12.5-17.5-28.9-18.3-49.4h14.9c0,0,1.3,21.8,15.4,41.8c0.9,1.3,1.9,2.7,3,4c1.5,1.9,3.2,3.7,5,5.6
     c1.8,1.8,3.7,3.6,5.8,5.2L147.9,237.5l-7-6.3C144.1,234.4,147.9,237.5,147.9,237.5l8.8-10.5"/>
    <path clip-path="url(#SVGID_8_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M147.9,237.5
     c-4.1-3.5-8.6-7.7-13-12.7c-1.4-1.6-2.8-3.3-4.2-5.1c-9.5-12.5-17.5-28.9-18.3-49.4h14.9c0,0,1.3,21.8,15.4,41.8
     c0.9,1.3,1.9,2.7,3,4c1.5,1.9,3.2,3.7,5,5.6c1.8,1.8,3.7,3.6,5.8,5.2L147.9,237.5l-7-6.3C144.1,234.4,147.9,237.5,147.9,237.5
     l8.8-10.5"/>
   </g>
  </g>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="150.9" y1="221.7" x2="140.9" y2="231.2"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="150.9" y1="221.7" x2="140.9" y2="231.2"/>
  <line clip-path="url(#SVGID_4_)" fill="#A5A5A5" x1="145.9" y1="216.1" x2="135" y2="224.8"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="145.9" y1="216.1" x2="135" y2="224.8"/>
  <line clip-path="url(#SVGID_4_)" fill="#A5A5A5" x1="143.1" y1="212" x2="130" y2="218.9"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="143.1" y1="212" x2="130" y2="218.9"/>
  <line clip-path="url(#SVGID_4_)" fill="#A5A5A5" x1="136.3" y1="200.8" x2="121.9" y2="205.7"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="136.3" y1="200.8" x2="121.9" y2="205.7"/>
  <line clip-path="url(#SVGID_4_)" fill="#A5A5A5" x1="133.5" y1="194.3" x2="118.6" y2="198.6"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="133.5" y1="194.3" x2="118.6" y2="198.6"/>
  <line clip-path="url(#SVGID_4_)" fill="#A5A5A5" x1="131.3" y1="188.3" x2="116.4" y2="192.6"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="131.3" y1="188.3" x2="116.4" y2="192.6"/>
  <path clip-path="url(#SVGID_4_)" fill="#A5A5A5" d="M127.4,170.4h-14.9c0,0-0.2,7.8,2.1,15.9l14.9-4L127.4,170.4z"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M127.4,170.4h-14.9
   c0,0-0.2,7.8,2.1,15.9l14.9-4L127.4,170.4z"/>
  <line clip-path="url(#SVGID_4_)" fill="#A5A5A5" x1="125.4" y1="211.9" x2="139.1" y2="206"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="125.4" y1="211.9" x2="139.1" y2="206"/>
  <path clip-path="url(#SVGID_4_)" fill="#A5A5A5" d="M179.8,73.1c0,0,3.3-1.8,8.3-2.3l2.5,13l-7.2,1.4L179.8,73.1z"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M179.8,73.1
   c0,0,3.3-1.8,8.3-2.3l2.5,13l-7.2,1.4L179.8,73.1z"/>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_9_" x="278.9" y="55.9" width="37.6" height="12.6"/>
    </defs>
    <clipPath id="SVGID_10_">
     <use xlink:href="#SVGID_9_"  overflow="visible"/>
    </clipPath>
    <rect x="278.9" y="55.9" clip-path="url(#SVGID_10_)" fill="#92CC85" width="37.6" height="12.6"/>
   </g>
  </g>
  <!-- Green Near the prayer room -->
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="310.3" y1="55.4" x2="310.3" y2="68.5"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="304.1" y1="55.4" x2="304.1" y2="68.5"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="297.7" y1="55.7" x2="297.7" y2="68.7"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="291.4" y1="55.8" x2="291.4" y2="68.8"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="284.8" y1="55.4" x2="284.8" y2="68.5"/>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_11_" x="278.9" y="75.1" width="37.6" height="12.6"/>
    </defs>
    <clipPath id="SVGID_12_">
     <use xlink:href="#SVGID_11_"  overflow="visible"/>
    </clipPath>
    <rect x="278.9" y="75.1" clip-path="url(#SVGID_12_)" fill="#92CC85" width="37.6" height="12.6"/>
   </g>
  </g>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="310.3" y1="74.6" x2="310.3" y2="87.6"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="304.1" y1="74.6" x2="304.1" y2="87.6"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="297.7" y1="74.8" x2="297.7" y2="87.9"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="291.4" y1="74.9" x2="291.4" y2="88"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="284.8" y1="74.6" x2="284.8" y2="87.6"/>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_13_" x="259.3" y="88.4" width="12.6" height="18.7"/>
    </defs>
    <clipPath id="SVGID_14_">
     <use xlink:href="#SVGID_13_"  overflow="visible"/>
    </clipPath>
    <path clip-path="url(#SVGID_14_)" fill="#92CC85" d="M259.4,88.4l0,18.7c4.2-0.1,8.4-0.7,12.6-0.1l0-18.6L259.4,88.4z"/>
   </g>
  </g>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="258.8" y1="94.6" x2="271.9" y2="94.7"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="258.8" y1="100.8" x2="271.9" y2="100.8"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="259.1" y1="107.2" x2="272.1" y2="107.3"/>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_15_" x="265" y="142.5" width="24.7" height="12.6"/>
    </defs>
    <clipPath id="SVGID_16_">
     <use xlink:href="#SVGID_15_"  overflow="visible"/>
    </clipPath>
    <rect x="265" y="142.5" clip-path="url(#SVGID_16_)" fill="#92CC85" width="24.7" height="12.6"/>
   </g>
  </g>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="283.5" y1="142" x2="283.5" y2="155"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="277.3" y1="142" x2="277.3" y2="155"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="270.9" y1="142.2" x2="270.9" y2="155.3"/>
  <polyline class="pink" clip-path="url(#SVGID_4_)" fill="#D36290" points="305.4,163.2 305.4,144.8 327.6,144.8 327.6,163.2   "/>
  <polyline class="pink" clip-path="url(#SVGID_4_)" fill="#D36290" points="305.4,124.3 305.4,108.1 327.6,108.1 327.6,124.3   "/>
  <polyline class="pink" clip-path="url(#SVGID_4_)" fill="#D36290" points="310.3,141.7 310.3,127.4 328,127.4 328,141.7   "/>
  <path clip-path="url(#SVGID_4_)" fill="#61AFB5" d="M264.7,218.7c0,0-2.8,9.4,0,22l20.4-2.7v-15.8"/>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_17_" x="272" y="182.7" width="5.3" height="10.1"/>
    </defs>
    <clipPath id="SVGID_18_">
     <use xlink:href="#SVGID_17_"  overflow="visible"/>
    </clipPath>
    <polyline clip-path="url(#SVGID_18_)" fill="#92CC85" points="272,182.7 277.3,182.7 277.3,192.9 272,192.9     "/>
   </g>
  </g>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#020202" stroke-width="0.5" stroke-miterlimit="10" x1="272" y1="188.3" x2="277.3" y2="188.3"/>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_19_" x="280.2" y="182.7" width="5.3" height="10.1"/>
    </defs>
    <clipPath id="SVGID_20_">
     <use xlink:href="#SVGID_19_"  overflow="visible"/>
    </clipPath>
    <polyline clip-path="url(#SVGID_20_)" fill="#92CC85" points="280.2,182.7 285.5,182.7 285.5,192.9 280.2,192.9     "/>
   </g>
  </g>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#020202" stroke-width="0.5" stroke-miterlimit="10" x1="280.2" y1="188.3" x2="285.6" y2="188.3"/>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_21_" x="286.9" y="183.5" width="13.3" height="6.5"/>
    </defs>
    <clipPath id="SVGID_22_">
     <use xlink:href="#SVGID_21_"  overflow="visible"/>
    </clipPath>
    <polygon clip-path="url(#SVGID_22_)" fill="#92CC85" points="286.9,183.5 290.8,183.5 300.3,183.5 300.3,190 290.9,190 
     286.9,190     "/>
   </g>
  </g>
 <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="296" y1="183.4" x2="296" y2="189.7"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="296" y1="183.4" x2="296" y2="189.7"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="291" y1="183.6" x2="291" y2="189.9"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="291" y1="183.6" x2="291" y2="189.9"/>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_23_" x="291" y="193.4" width="11.7" height="7"/>
    </defs>
    <clipPath id="SVGID_24_">
     <use xlink:href="#SVGID_23_"  overflow="visible"/>
    </clipPath>
    <polygon clip-path="url(#SVGID_24_)" fill="#92CC85" points="302.7,193.4 296.9,193.4 291,193.4 291,200.4 302.7,200.1     "/>
   </g>
  </g>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="296.9" y1="193.4" x2="296.9" y2="200.2"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="296.9" y1="193.4" x2="296.9" y2="200.2"/>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_25_" x="273.7" y="270.1" width="67.6" height="18.6"/>
    </defs>
    <clipPath id="SVGID_26_">
     <use xlink:href="#SVGID_25_"  overflow="visible"/>
    </clipPath>
    <polyline clip-path="url(#SVGID_26_)" fill="#92CC85" points="274.9,270.1 273.7,276.1 340.2,288.8 341.3,282.8     "/>
   </g>
  </g>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_27_" x="341.7" y="288.7" width="5.3" height="15.4"/>
    </defs>
    <clipPath id="SVGID_28_">
     <use xlink:href="#SVGID_27_"  overflow="visible"/>
    </clipPath>
    <polyline clip-path="url(#SVGID_28_)" fill="#92CC85" points="341.7,288.7 341.7,304.1 347,304.1 347,288.7     "/>
   </g>
  </g>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_29_" x="334.6" y="305" width="7.1" height="42.2"/>
    </defs>
    <clipPath id="SVGID_30_">
     <use xlink:href="#SVGID_29_"  overflow="visible"/>
    </clipPath>
    <polyline clip-path="url(#SVGID_30_)" fill="#92CC85" points="334.6,305 334.6,347.2 341.7,347.2 341.7,305     "/>
   </g>
  </g>
  <g opacity="0.64" clip-path="url(#SVGID_4_)">
   <g>
    <defs>
     <rect id="SVGID_31_" x="281.5" y="301.1" width="28" height="6.1"/>
    </defs>
    <clipPath id="SVGID_32_">
     <use xlink:href="#SVGID_31_"  overflow="visible"/>
    </clipPath>
    <polyline clip-path="url(#SVGID_32_)" fill="#92CC85" points="281.5,301.1 281.5,307.2 309.5,307.2 309.5,301.1     "/>
   </g>
  </g> 
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="280.9" y1="271.5" x2="279.9" y2="277.3"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="280.9" y1="271.5" x2="279.9" y2="277.3"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="287.3" y1="272.7" x2="286.3" y2="278.5"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="287.3" y1="272.7" x2="286.3" y2="278.5"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="294.1" y1="273.9" x2="293.1" y2="279.8"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="294.1" y1="273.9" x2="293.1" y2="279.8"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="300.4" y1="275.1" x2="299.4" y2="281"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="300.4" y1="275.1" x2="299.4" y2="281"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="307.5" y1="276.5" x2="306.5" y2="282.4"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="307.5" y1="276.5" x2="306.5" y2="282.4"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="314.9" y1="277.8" x2="313.9" y2="283.7"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="314.9" y1="277.8" x2="313.9" y2="283.7"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="321.6" y1="279.1" x2="320.6" y2="285"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="321.6" y1="279.1" x2="320.6" y2="285"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="330.8" y1="281" x2="329.8" y2="286.9"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="330.8" y1="281" x2="329.8" y2="286.9"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="347" y1="293.7" x2="341.6" y2="293.6"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="347" y1="293.7" x2="341.6" y2="293.6"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="347" y1="298.2" x2="341.6" y2="298.1"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="347" y1="298.2" x2="341.6" y2="298.1"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="341.6" y1="310.8" x2="334.6" y2="311"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="341.6" y1="310.8" x2="334.6" y2="311"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="341.6" y1="317.3" x2="334.7" y2="317.4"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="341.6" y1="317.3" x2="334.7" y2="317.4"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="341.6" y1="323.3" x2="334.6" y2="323.4"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="341.6" y1="323.3" x2="334.6" y2="323.4"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="341.6" y1="329.3" x2="334.7" y2="329.5"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="341.6" y1="329.3" x2="334.7" y2="329.5"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="341.6" y1="335.7" x2="334.7" y2="335.8"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="341.6" y1="335.7" x2="334.7" y2="335.8"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="341.6" y1="340.8" x2="334.6" y2="341"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="341.6" y1="340.8" x2="334.6" y2="341"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="303.1" y1="301.1" x2="303" y2="307.2"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="303.1" y1="301.1" x2="303" y2="307.2"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="295.6" y1="301.1" x2="295.4" y2="307.2"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="295.6" y1="301.1" x2="295.4" y2="307.2"/>
  <line clip-path="url(#SVGID_4_)" fill="#92CC85" x1="288.2" y1="301.1" x2="288" y2="307.2"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#08080A" stroke-width="0.25" stroke-miterlimit="10" x1="288.2" y1="301.1" x2="288" y2="307.2"/>
  <polyline class="Myrect" clip-path="url(#SVGID_4_)" fill="#61AFB5" points="252.9,362.5 252.9,382 277.4,382 277.4,362.5   "/>
  <circle clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" cx="191.7" cy="277.3" r="18.6"/>
  
   <rect x="178.5" y="264.5" transform="matrix(0.715 -0.6992 0.6992 0.715 -139.3384 212.8284)" clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" width="25.6" height="25.6"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" x1="178.5" y1="264.1" x2="204.8" y2="290.5"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" x1="204.5" y1="263.8" x2="178.2" y2="290.2"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" x1="196.4" y1="264.4" x2="196.4" y2="289.7"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" x1="187.2" y1="263.5" x2="195.8" y2="263.5"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" x1="186.8" y1="263.8" x2="186.8" y2="290.5"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" x1="178.2" y1="272.3" x2="204.1" y2="272"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" x1="205.2" y1="273.1" x2="205.2" y2="281.5"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" x1="204.8" y1="282" x2="178.2" y2="282.2"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" x1="177.9" y1="272.3" x2="177.9" y2="282.2"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" x1="187.2" y1="290.8" x2="195.8" y2="290.8"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="191.5" y1="259.2" x2="191.5" y2="294.7"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="186.8" y1="267.1" x2="196.4" y2="266.9"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="200.5" y1="268.8" x2="200.5" y2="272"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="199.5" y1="268.1" x2="196.4" y2="268.1"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="186.8" y1="268.1" x2="182.5" y2="268.1"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="182.5" y1="268.1" x2="182.5" y2="272.3"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="181.4" y1="272.6" x2="181.4" y2="282"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="173.2" y1="277.1" x2="209" y2="277.1"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="201.8" y1="272.3" x2="201.8" y2="282.2"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="182.5" y1="282.1" x2="182.5" y2="285.9"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="186.4" y1="286.3" x2="182.5" y2="286.3"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="186.8" y1="287.3" x2="196.4" y2="287.3"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="196.8" y1="286.3" x2="200.1" y2="286.3"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="200.6" y1="282" x2="200.6" y2="285.6"/>
  <polyline clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" points="177.5,204 177.5,214.7 
   180.7,214.7 180.6,204 180.7,213.1 183.7,213.1 183.7,204.2 183.7,210.9 187.1,210.9 187.1,204.2   "/>
  <polyline clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" points="188.7,203.2 195.5,203.1 
   195.5,199.9 188.7,199.9 198,199.9 198,197 188.7,197 199.4,197 199.4,193.4 188.7,193.4 188.6,185.3 187,186.6 187.1,203 
   177.9,203 177.8,186.6 179.7,185.3 188.6,185.3 187,186.6 177.8,186.6   "/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M311.3,326.9c0.1-0.2,0.1-0.4,0.1-0.6
   c0-0.9-0.7-1.6-1.6-1.6h-12.8c-0.9,0-1.6,0.7-1.6,1.6c0,0.1,0,0.2,0,0.3h-12.9c-2.3,0-4.2,1.9-4.2,4.2v18c0,2.3,1.9,4.2,4.2,4.2
   h27.1c2.3,0,4.2-1.9,4.2-4.2v-18C313.9,329,312.9,327.5,311.3,326.9z"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M278.6,349.5l6.5-18.5
   c0.4-1.1,1.4-1.8,2.6-1.8h30c1.9,0,3.2,1.8,2.6,3.6l-6.4,18.5c-0.4,1.1-1.4,1.8-2.6,1.8h-30.1
   C279.2,353.1,277.9,351.3,278.6,349.5z"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M293.1,342v3.3c0,0.2,0.2,0.4,0.4,0.5
   c2.3,0.8,6.5,0.4,8.3,0.1c0.5-0.1,0.8-0.4,0.8-0.8V342"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M297.3,334.6l-6.7,3.2
   c-0.9,0.5-0.9,1.8,0,2.2l6.7,2.9c0.3,0.1,0.7,0.1,1,0l6.9-3.1c1-0.4,1-1.8,0-2.2l-6.9-3.1C298,334.4,297.6,334.4,297.3,334.6z"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" x1="304.3" y1="340.3" x2="304.3" y2="345.1"/>
  <circle clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" cx="304.2" cy="345.4" r="0.5"/>
  <path clip-path="url(#SVGID_4_)" fill="#FFFFFF" d="M311.9,330h3v10.9c0,0,0.1,2-0.7,5.9s-1.6,4.8-1.6,4.8l-2.4-16.4L311.9,330z"
   />
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" d="M311.9,330h3v10.9c0,0,0.1,2-0.7,5.9
   s-1.6,4.8-1.6,4.8l-2.4-16.4L311.9,330z"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.75" stroke-miterlimit="10" d="M248,162.8v8.1
   c0,0.4-0.3,0.7-0.7,0.7h-24.4c-0.4,0-0.6-0.3-0.6-0.6v-8.1l0.1,0"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.75" stroke-miterlimit="10" d="M222.2,162.7h-0.4
   c-0.2,0-0.3-0.1-0.3-0.3v-0.8c0-0.2,0.1-0.3,0.3-0.3h26.5c0.3,0,0.5,0.2,0.5,0.5v0.5c0,0.2-0.2,0.4-0.4,0.4H248"/>
  
   <line clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.75" stroke-miterlimit="10" x1="222.4" y1="162.7" x2="222.2" y2="162.7"/>
  
   <circle clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.75" stroke-miterlimit="10" cx="243.8" cy="157.1" r="4.2"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.75" stroke-miterlimit="10" d="M243.3,154.9
   c0,0.2,0.1,0.3,0.3,0.3h0.4c0.2,0,0.3-0.1,0.3-0.3v-0.3c0-0.2-0.1-0.3-0.3-0.3h-0.4c-0.2,0-0.3,0.1-0.3,0.3V154.9z M244.3,156.4
   c0-0.4-0.1-0.5-0.5-0.5h-0.7c-0.2,0-0.5,0-0.5,0.3c0,0.3,0.3,0.3,0.5,0.3h0.5v2.4h-0.5c-0.2,0-0.5,0-0.5,0.3
   c0,0.3,0.3,0.3,0.5,0.3h1.7c0.2,0,0.5,0,0.5-0.3c0-0.3-0.2-0.3-0.5-0.3h-0.5V156.4z"/>
  
   <circle clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.75" stroke-miterlimit="10" cx="231.5" cy="154.2" r="1.5"/>
  <path clip-path="url(#SVGID_4_)" fill="none" stroke="#CDC9C4" stroke-width="0.75" stroke-miterlimit="10" d="M234.1,157.9
   c-0.2-1-1.2-1.8-2.6-1.8c-1.1,0-2,0.6-2.4,1.3l0,0l-0.1,0.2c0,0.1,0,0.1-0.1,0.2l-1,3.5l1-0.1l0.8-2.5v2.5h3.5v-2.5l0.8,2.5h1.1
   L234.1,157.9z"/>
 </g>
 <g clip-path="url(#SVGID_2_)">
  <defs>
   <path id="SVGID_33_" d="M287.7,203.4c-0.3,0-0.5,0.2-0.5,0.5v9c0,0.3,0.2,0.5,0.5,0.5h19.1c0.3,0,0.5-0.2,0.5-0.5v-9
    c0-0.3-0.2-0.5-0.5-0.5H287.7z"/>
  </defs>
  <clipPath id="SVGID_34_">
   <use xlink:href="#SVGID_33_"  overflow="visible"/>
  </clipPath>
  <path clip-path="url(#SVGID_34_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M287.2,203.9c0-0.3,0.2-0.5,0.5-0.5
   h19.1c0.3,0,0.5,0.2,0.5,0.5v9c0,0.3-0.2,0.5-0.5,0.5h-19.1c-0.3,0-0.5-0.2-0.5-0.5V203.9z"/>
  
   <rect x="281.3" y="200.2" clip-path="url(#SVGID_34_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" width="32.1" height="32.1"/>
 </g>
 <g clip-path="url(#SVGID_2_)">
  <defs>
   <rect id="SVGID_35_" width="425.2" height="425.2"/>
  </defs>
  <clipPath id="SVGID_36_">
   <use xlink:href="#SVGID_35_"  overflow="visible"/>
  </clipPath>
  <path clip-path="url(#SVGID_36_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M287.2,203.9c0-0.3,0.2-0.5,0.5-0.5
   h19.1c0.3,0,0.5,0.2,0.5,0.5v9c0,0.3-0.2,0.5-0.5,0.5h-19.1c-0.3,0-0.5-0.2-0.5-0.5V203.9z"/>
 </g>
 <g clip-path="url(#SVGID_2_)">
  <defs>
   <rect id="SVGID_37_" x="299.4" y="211" width="8.1" height="9"/>
  </defs>
  <clipPath id="SVGID_38_">
   <use xlink:href="#SVGID_37_"  overflow="visible"/>
  </clipPath>
  <rect x="298.1" y="210.7" clip-path="url(#SVGID_38_)" fill="#FFFFFF" width="8.7" height="9.6"/>
 </g>
 <g clip-path="url(#SVGID_2_)">
  <text transform="matrix(1 0 0 1 293.2969 209.3594)" fill="#CDC9C4" font-family="'Avenir-Book'" font-size="4.0088">ARC</text>
 </g>
 <g clip-path="url(#SVGID_2_)">
  <defs>
   <rect id="SVGID_39_" width="425.2" height="425.2"/>
  </defs>
  <clipPath id="SVGID_40_">
   <use xlink:href="#SVGID_39_"  overflow="visible"/>
  </clipPath>
  
   <circle clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" cx="303" cy="210.8" r="1.5"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" d="M305.5,214.4
   c-0.2-1-1.2-1.8-2.5-1.8c-1.1,0-2,0.5-2.4,1.3l0,0l-0.1,0.2c0,0.1,0,0.1-0.1,0.2l-1,3.5l1-0.1l0.8-2.5v2.5h3.5v-2.5l0.8,2.5h1.1
   L305.5,214.4z"/>
  <rect x="297.8" y="214.1" clip-path="url(#SVGID_40_)" fill="#FFFFFF" width="9.6" height="4.1"/>
  
   <circle clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" cx="290.7" cy="217.7" r="1.5"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" d="M293.2,221.3
   c-0.2-1-1.2-1.8-2.5-1.8c-1.1,0-2,0.5-2.4,1.3l0,0l-0.1,0.2c0,0.1,0,0.1-0.1,0.2l-1,3.5l1-0.1l0.8-2.5v2.5h3.5v-2.5l0.8,2.5h1.1
   L293.2,221.3z"/>
  <rect x="285.4" y="221" clip-path="url(#SVGID_40_)" fill="#FFFFFF" width="9.6" height="4.1"/>
  
   <circle clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" cx="297.2" cy="217.6" r="1.5"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" d="M299.8,221.2
   c-0.2-1-1.2-1.8-2.5-1.8c-1.1,0-2,0.5-2.4,1.3l0,0l-0.1,0.2c0,0.1,0,0.1-0.1,0.2l-1,3.5l1-0.1l0.8-2.5v2.5h3.5v-2.5l0.8,2.5h1.1
   L299.8,221.2z"/>
  <rect x="292" y="220.9" clip-path="url(#SVGID_40_)" fill="#FFFFFF" width="9.6" height="4.1"/>
  
   <circle clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" cx="304" cy="217.3" r="1.5"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" d="M306.5,221
   c-0.2-1-1.2-1.8-2.5-1.8c-1.1,0-2,0.5-2.4,1.3l0,0l-0.1,0.2c0,0.1,0,0.1-0.1,0.2l-1,3.5l1-0.1l0.8-2.5v2.5h3.5v-2.5l0.8,2.5h1.1
   L306.5,221z"/>
  <rect x="298.7" y="220.6" clip-path="url(#SVGID_40_)" fill="#FFFFFF" width="9.6" height="4.1"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CECAC5" stroke-miterlimit="10" d="M190,120.3c0.5,0,2.3,0.1,3-0.4
   c0.1-0.1,0.3-0.1,0.5-0.1c0.2,0.1,0.4,0.2,0.6,0c0.4-0.3,0.3-0.9,0.8-0.9c0.5,0.1,0.9,0.5,1.1,0c0.2-0.5,0.4,0,1-0.2
   c0.6-0.2,0-0.5,0.5-0.7c0.5-0.2,1-0.1,0.8-0.9c-0.2-0.8,0.8,0.9,0.7-0.2c-0.1-1.1,0.5-0.5,0.9-0.3c0.5,0.3-0.2-1.2,0.6-1.1
   s1.5,0.2,1.3-0.6c-0.3-0.9,0.4,0.5,0.5-0.8c0.1-1.3,0.3-1.4-0.3-1.6c-0.6-0.1,0.6-0.6,0.2-0.8c-0.4-0.2-0.6,0.2-1.2,0
   c-0.6-0.2,0.8-1.3-0.3-2.1s-1.7-0.1-1.9-0.8c-0.2-0.7-0.5-0.1-0.9-0.7c-0.4-0.6,0.7-0.6,0.1-1.2c-0.6-0.6-0.9-0.3-0.9-0.9
   c0-0.6,0.2-0.9-0.5-0.9s-0.3-0.3-0.9-0.8c-0.5-0.5-0.9,0.7-1.4,0.3c-0.6-0.4-0.2-0.6-1.2-0.6c-1-0.1-0.8,0.3-1.4,0.3
   c-0.6,0,0-0.8-1.4-1.1c-0.2,0-0.3-0.1-0.5-0.1v0c-0.1,0-0.3,0-0.5,0.1c-1.4,0.3-0.8,1.1-1.4,1.1c-0.6,0-0.4-0.4-1.4-0.3
   s-0.7,0.2-1.2,0.6c-0.6,0.4-0.9-0.8-1.4-0.3c-0.5,0.5-0.2,0.8-0.9,0.8c-0.6,0-0.5,0.3-0.5,0.9c0,0.6-0.3,0.3-0.9,0.9
   c-0.6,0.6,0.5,0.6,0.1,1.2c-0.4,0.6-0.7,0-0.9,0.7c-0.2,0.7-0.8,0-1.9,0.8s0.3,1.9-0.3,2.1c-0.6,0.2-0.8-0.2-1.2,0
   c-0.4,0.2,0.8,0.6,0.2,0.8c-0.6,0.1-0.4,0.3-0.3,1.6c0.1,1.3,0.8,0,0.5,0.8c-0.3,0.9,0.6,0.7,1.3,0.6c0.7-0.1,0.1,1.4,0.6,1.1
   c0.5-0.3,1.1-0.8,0.9,0.3c-0.1,1.1,0.9-0.6,0.7,0.2s0.3,0.7,0.8,0.9c0.5,0.2-0.1,0.5,0.5,0.7c0.6,0.2,0.8-0.3,1,0.2
   c0.2,0.5,0.6,0.1,1.1,0c0.5-0.1,0.4,0.5,0.8,0.9c0.2,0.1,0.4,0.1,0.6,0c0.2-0.1,0.4,0,0.5,0.2c0,0.1,0.1,0.1,0.1,0.1
   c0.2,0.1,0.4,0.1,0.5,0c0.3-0.2,0.8-0.5,0.7,1.2c0,1.7-0.1,4.5-0.1,5.5c0,0.2-0.2,0.4-0.5,0.4c-0.9,0.2-2.4,0.2-3.4,0.4
   c-1,0.2-1.5,0.2-1.6,0.7c0,0.1,0.1,0.7,1.1,0.7h10h1.1"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M260.7,58.8h14.7
   c0.4,0,0.8,0.4,0.8,0.8v13.5c0,0.4-0.4,0.8-0.8,0.8h-14.7c-0.4,0-0.8-0.4-0.8-0.8v-1.2c0-0.4,0.4-0.8,0.8-0.8l7.3,0
   c0.3,0,0.6-0.2,0.7-0.5l2.8-5.8c0.3-0.5-0.1-1.2-0.7-1.2h-10.1c-0.4,0-0.8-0.4-0.8-0.8v-3.2C259.9,59.2,260.3,58.8,260.7,58.8z"/>
  <path clip-path="url(#SVGID_40_)" fill="#CDC9C4" d="M274.8,72.4c0,0.4-0.3,0.6-0.6,0.6c-0.4,0-0.6-0.3-0.6-0.6s0.3-0.6,0.6-0.6
   C274.5,71.8,274.8,72.1,274.8,72.4"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M262,66.6c0,0,0,2.8,0,3.5
   c0,0.7,0.8,0.7,0.8,0.7s1.5,0,2,0c0.4,0,0.6-0.6,0.6-0.8s0-3.4,0-3.4"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M265.4,69.4c0,0,0.7,0,0.9,0
   c0.2,0,0.2-0.4,0.2-0.4s0-0.8,0-1c0-0.2-0.1-0.3-0.2-0.3c-0.1,0-0.9,0-0.9,0"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M279.7,126.4c0,0-4.3-3.9-2.2-10.3
   c0.1-0.3-0.3-0.6-0.6-0.3c-2,2.5-6.4,9.8,1.1,15.5c0,0,7,5.2,13.9-3.1c0.2-0.2-0.1-0.5-0.3-0.4c-2,1.2-6.4,2.9-11.2-0.7"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M97.3,148.6H112c0.4,0,0.8,0.4,0.8,0.8
   v13.5c0,0.4-0.4,0.8-0.8,0.8H97.3c-0.4,0-0.8-0.4-0.8-0.8v-1.2c0-0.4,0.4-0.8,0.8-0.8l7.3,0c0.3,0,0.6-0.2,0.7-0.5l2.8-5.8
   c0.3-0.5-0.1-1.2-0.7-1.2H97.3c-0.4,0-0.8-0.4-0.8-0.8v-3.2C96.5,148.9,96.8,148.6,97.3,148.6z"/>
  <path clip-path="url(#SVGID_40_)" fill="#CDC9C4" d="M111.4,162.2c0,0.4-0.3,0.6-0.6,0.6c-0.4,0-0.6-0.3-0.6-0.6
   c0-0.4,0.3-0.6,0.6-0.6C111.1,161.5,111.4,161.8,111.4,162.2"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M98.5,156.3c0,0,0,2.8,0,3.5
   c0,0.7,0.8,0.7,0.8,0.7s1.5,0,2,0c0.4,0,0.6-0.6,0.6-0.8c0-0.2,0-3.4,0-3.4"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-miterlimit="10" d="M102,159.1c0,0,0.7,0,0.9,0
   c0.2,0,0.2-0.4,0.2-0.4s0-0.8,0-1c0-0.2-0.1-0.3-0.2-0.3c-0.1,0-0.9,0-0.9,0"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" d="M213.9,231.1
   c0,0,0.1,0,0.1,0"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" d="M213.8,242.6
   c0-0.2,0-0.4,0-0.7"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="210.2" y1="231.8" x2="213.1" y2="231.8"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="210.2" y1="232.4" x2="213.1" y2="232.4"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="210.2" y1="232.8" x2="213.1" y2="232.8"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="214.6" y1="231.8" x2="217.5" y2="231.8"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="214.6" y1="232.4" x2="217.5" y2="232.4"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="214.6" y1="232.8" x2="217.5" y2="232.8"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="213" y1="235.7" x2="213" y2="237.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="217.4" y1="235.7" x2="217.4" y2="237.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="217.8" y1="241.8" x2="217.8" y2="242.6"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="217.8" y1="242.6" x2="217.3" y2="242.6"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="217.4" y1="242.6" x2="217" y2="241.8"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="214.1" y1="241.8" x2="214.1" y2="242.6"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="214" y1="242.6" x2="214.6" y2="242.6"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="214.5" y1="242.6" x2="214.9" y2="241.8"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="213.9" y1="242.6" x2="213.3" y2="242.6"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="213.4" y1="242.6" x2="213" y2="241.8"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="209.9" y1="241.8" x2="209.9" y2="242.6"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="209.9" y1="242.6" x2="210.4" y2="242.6"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="210.3" y1="242.6" x2="210.7" y2="241.8"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" d="M217.8,230.8h-7.8
   c-0.3,0-0.6,0.3-0.6,0.6v9.7c0,0.3,0.3,0.6,0.6,0.6h3.9v-10.5c0-0.2,0.2-0.2,0.2,0v10.5h3.7c0.3,0,0.6-0.3,0.6-0.6v-9.7
   C218.3,231.1,218.1,230.8,217.8,230.8z"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" d="M213.4,87.7
   c0,0,0.1,0,0.1,0"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" d="M213.3,98.2
   c0-0.2,0-0.4,0-0.6"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="210" y1="88.4" x2="212.6" y2="88.4"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="210" y1="88.8" x2="212.6" y2="88.8"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="210" y1="89.2" x2="212.6" y2="89.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="214" y1="88.4" x2="216.7" y2="88.4"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="214" y1="88.8" x2="216.7" y2="88.8"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="214" y1="89.2" x2="216.7" y2="89.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="212.5" y1="91.9" x2="212.5" y2="93.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="216.6" y1="91.9" x2="216.6" y2="93.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="216.9" y1="97.4" x2="216.9" y2="98.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="216.9" y1="98.2" x2="216.4" y2="98.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="216.5" y1="98.2" x2="216.1" y2="97.4"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="213.5" y1="97.4" x2="213.5" y2="98.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="213.5" y1="98.2" x2="214" y2="98.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="213.9" y1="98.2" x2="214.3" y2="97.4"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="213.3" y1="98.2" x2="212.8" y2="98.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="212.9" y1="98.2" x2="212.5" y2="97.4"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="209.7" y1="97.4" x2="209.7" y2="98.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="209.7" y1="98.2" x2="210.1" y2="98.2"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.25" stroke-miterlimit="10" x1="210.1" y1="98.2" x2="210.4" y2="97.4"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" d="M216.9,87.4h-7.1
   c-0.3,0-0.5,0.2-0.5,0.5v8.9c0,0.3,0.2,0.5,0.5,0.5h3.6v-9.6c0-0.1,0.2-0.1,0.2,0v9.6h3.4c0.3,0,0.5-0.2,0.5-0.5V88
   C217.4,87.7,217.2,87.4,216.9,87.4z"/>
  <path clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" d="M268.4,183.1h-6.3
   c-0.7,0-1.3-0.6-1.3-1.3v-12.4c0-0.7,0.6-1.3,1.3-1.3h6.5c0.7,0,1.2,0.6,1.2,1.2v12.4C269.9,182.4,269.2,183.1,268.4,183.1z"/>
  
   <line clip-path="url(#SVGID_40_)" fill="none" stroke="#CDC9C4" stroke-width="0.5" stroke-miterlimit="10" x1="265.2" y1="168" x2="265.2" y2="183.1"/>
  <polygon clip-path="url(#SVGID_40_)" fill-rule="evenodd" clip-rule="evenodd" fill="#CDC9C4" points="271.1,174.4 271.7,175.6 
   270.5,175.6   "/>
 </g>
 <g clip-path="url(#SVGID_2_)">
  <defs>
   <polygon id="SVGID_41_" points="270.5,175.6 271.7,175.6 271.1,174.4    "/>
  </defs>
  <clipPath id="SVGID_42_">
   <use xlink:href="#SVGID_41_"  overflow="visible"/>
  </clipPath>
  <rect x="252.4" y="164.3" clip-path="url(#SVGID_42_)" fill="#CDC9C4" width="21.5" height="21.5"/>
  <rect x="270.2" y="174.2" clip-path="url(#SVGID_42_)" fill="#CDC9C4" width="1.6" height="1.6"/>
 </g>
 <g clip-path="url(#SVGID_2_)">
  <defs>
   <rect id="SVGID_43_" width="425.2" height="425.2"/>
  </defs>
  <clipPath id="SVGID_44_">
   <use xlink:href="#SVGID_43_"  overflow="visible"/>
  </clipPath>
  <polygon clip-path="url(#SVGID_44_)" fill-rule="evenodd" clip-rule="evenodd" fill="#CDC9C4" points="271.1,177 271.7,175.8 
   270.5,175.8   "/>
 </g>
 <g clip-path="url(#SVGID_2_)">
  <defs>
   <polygon id="SVGID_45_" points="270.5,175.8 271.1,177 271.7,175.8    "/>
  </defs>
  <clipPath id="SVGID_46_">
   <use xlink:href="#SVGID_45_"  overflow="visible"/>
  </clipPath>
  <rect x="252.4" y="165.6" clip-path="url(#SVGID_46_)" fill="#CDC9C4" width="21.5" height="21.5"/>
  <rect x="270.2" y="175.6" clip-path="url(#SVGID_46_)" fill="#CDC9C4" width="1.6" height="1.6"/>
 </g>
</g>

<path id="rect" d="M275.8,221.8c-3.4,0-6.2,2.8-6.2,6.2c0,2.6,1.6,4.8,3.9,5.7l2.3,2.8l2.3-2.9c2.2-0.9,3.8-3.1,3.8-5.7
  C281.9,224.6,279.2,221.8,275.8,221.8z M275.8,230.1c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2
  C278,229.1,277,230.1,275.8,230.1z"/>
<path id="sensor2" d="M321.5,147.4c-3.4,0-6.2,2.8-6.2,6.2c0,2.6,1.6,4.8,3.9,5.7l2.3,2.8l2.3-2.9c2.2-0.9,3.8-3.1,3.8-5.7
  C327.6,150.2,324.9,147.4,321.5,147.4z M321.5,155.6c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2
  C323.7,154.7,322.7,155.6,321.5,155.6z"/>

   <!-- <circle opacity="0.33" fill="#FFFFFF" stroke="#231F20" stroke-miterlimit="10" cx="273.5" cy="231.9" r="18.6" id="rect"/>

<circle opacity="0.33" fill="#FFFFFF" stroke="#231F20" stroke-miterlimit="10" cx="315" cy="154" r="7" id="sensor2"/>-->


</svg>
</center>
<br>
<div id= "paragraph">
     <a class="btn btn-large btn-info" id="cchange" >Change</a>
    <br>
    <!-- <button >Reset</button> -->
     <br>
     <a class="btn btn-large btn-info" onclick="hideSVG();">Lecture halls</a>
     <a class="btn btn-large btn-info" onclick="hideSVG1();">Classes</a>
   </div>
     <br>



           <script>
   $(document).ready(function(){
     $("#cchange").click(function(){
         $.getJSON("https://neverlost.herokuapp.com/detections.json", function(data){
          var ourdata = parseInt(data["2"]["sensor_id"]);
            alert(ourdata);
            if(ourdata == 1)
            {
              alert("inside if");
              $('#rect').css({'fill':"#231F20"});
            }
            if(ourdata == 2)
            {
              alert("inside if");
              $('#sensor2').css({'fill':"FF0000"});
            }
            
         });
     });
   });
   </script>


         <script>

function hideSVG() {
var obj = document.getElementsByClassName('Myrect');
    for(var i=0;i<obj.length;i++){
        if(obj[i].style.display === "none"){
            obj[i].style.display = "block";
        }else{
            obj[i].style.display = "none";
        }
    }
}

       </script>


         <script>

function hideSVG1() {
var obj = document.getElementsByClassName('pink');
    for(var i=0;i<obj.length;i++){
        if(obj[i].style.display === "none"){
            obj[i].style.display = "block";
        }else{
            obj[i].style.display = "none";
        }
    }
}

       </script>


</body>
<html>

